.footer{
    padding: 10px 10px 0 10px;
    background-color: indigo;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
footer{
    background-color: indigo;
}
.space{
    padding-top: 12px;
    margin-top: 12px;
}
.jumbotron{
    background-color: indigo;
    margin-top: 50px;
}
.Color{
    color: white;
}
.footer-address-icon{
    padding-right: 10px;
}
tr,td,label{
    color: white;
}
.card{
    background-color: rgb(167, 167, 167);
}
