@verde:#ff1e00;


.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}
.footer {
    padding: 10px 10px 0 10px;
    background-color: @verde;
    .margenes(10px, 0px); }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  footer {
    background-color: @verde; }
  
  .space {
    padding-top: 12px;
    margin-top: 12px; }
  
  .jumbotron {
    background-color: @verde;
    .margenes(50px, 0px);}
  
  .Color {
    color: white; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  tr, td, label {
    color: white; }
  
  .card {
    background-color: #a7a7a7; }
  