$morado: #3d0061;


@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: $morado;
    @include margenes(10px, 0px)
}
.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px)
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
footer{
    background-color: $morado;
}
.space{
    padding-top: 12px;
    margin-top: 12px;
}
.jumbotron{
    background-color: $morado;
    @include margenes(50px, 0px)
}
.Color{
    color: white;
}
.footer-address-icon{
    padding-right: 10px;
}
tr,td,label{
    color: white;
}
.card{
    background-color: rgb(167, 167, 167);
}