.footer {
  padding: 10px 10px 0 10px;
  background-color: #ff8800;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

footer {
  background-color: #ff8800; }

.space {
  padding-top: 12px;
  margin-top: 12px; }

.jumbotron {
  background-color: #ff8800;
  margin-top: 50px;
  margin-bottom: 0px; }

.Color {
  color: white; }

.footer-address-icon {
  padding-right: 10px; }

tr, td, label {
  color: white; }

.card {
  background-color: #a7a7a7; }
